<lib-circle [zoneOpt]="zoneOpt"></lib-circle>
<!-- <form [formGroup]="exform">
    <div>
        <label>Current value</label>
        <input formControlName="curVal" type="number">
    </div>
    <div>
        <label>Min value</label>
        <input formControlName="minVal" type="number">
    </div>
    <div>
        <label>Middle value</label>
        <input formControlName="midVal" type="number">
    </div>
    <div>
        <label>Max value</label>
        <input formControlName="maxVal" type="number">
    </div>
    <div>
        <label>Circle style</label>
        <select formControlName="style">
            <option *ngFor="let style of styles">{{ style }}</option>
        </select>
    </div>
    <div>
        <label>Min zone color</label>
        <input type="color" formControlName="minZoneCol">
    </div>
    <div>
        <label>Mid zone color</label>
        <input type="color" formControlName="midZoneCol">
    </div>
    <div>
        <label>Max zone color</label>
        <input type="color" formControlName="maxZoneCol">
    </div>
    <div>
        <label>Min stroke color</label>
        <input type="color" formControlName="minStrokeCol">
    </div>
    <div>
        <label>Mid stroke color</label>
        <input type="color" formControlName="midStrokeCol">
    </div>
    <div>
        <label>Max stroke color</label>
        <input type="color" formControlName="maxStrokeCol">
    </div>
</form> -->