<div class="container">
    <div class="circle">
        <lib-circle [valueOpt]="valueOpt"></lib-circle>
    </div>
    <div class="inputs">
        <div class="input-line">
            <label>Current value</label>
            <input name="curVal" [(ngModel)]="valueOpt.curVal" type="number">
        </div>
        <div class="input-line">
            <label>Minimum value</label>
            <input name="minVal" [(ngModel)]="valueOpt.minVal" type="number">
        </div>
        <div class="input-line">
            <label>Middle value</label>
            <input name="midVal" [(ngModel)]="valueOpt.midVal" type="number">
        </div>
        <div class="input-line">
            <label>Max value</label>
            <input name="maxVal" [(ngModel)]="valueOpt.maxVal" type="number">
        </div>
        <div class="input-line">
            <label>Circle style</label>
            <select name="style" [(ngModel)]="valueOpt.style">
                <option *ngFor="let style of styles">{{ style }}</option>
            </select>
        </div>
        <div class="input-line">
            <label>Min zone color</label>
            <input type="color" name="minZoneCol" [(ngModel)]="valueOpt.minZoneCol">
        </div>
        <div class="input-line">
            <label>Mid zone color</label>
            <input type="color" name="midZoneCol" [(ngModel)]="valueOpt.midZoneCol">
        </div>
        <div class="input-line">
            <label>Max zone color</label>
            <input type="color" fname="maxZoneCol" [(ngModel)]="valueOpt.maxZoneCol">
        </div>
        <div class="input-line">
            <label>Min stroke color</label>
            <input type="color" name="minStrokeCol" [(ngModel)]="valueOpt.minStrokeCol">
        </div>
        <div class="input-line">
            <label>Mid stroke color</label>
            <input type="color" name="midStrokeCol" [(ngModel)]="valueOpt.midStrokeCol">
        </div>
        <div class="input-line">
            <label>Max stroke color</label>
            <input type="color" name="maxStrokeCol" [(ngModel)]="valueOpt.maxStrokeCol">
        </div>
        <button class="button" type="button">Start getting data</button>
        <button class="button " type="button">Stop getting data</button>
        <button class="button" type="button" (click)="switchTheme()">Switch theme</button>
    </div>    
</div>


